body {
  margin:0;
  font-family:Poppins;
  background: linear-gradient(135deg,#1e3c72,#2a5298);
  color:#fff;
}

.container {
  max-width:400px;
  margin:auto;
  padding:20px;
}

.card {
  background:rgba(255,255,255,0.1);
  padding:20px;
  border-radius:15px;
  text-align:center;
}

input {
  width:100%;
  padding:12px;
  margin:10px 0;
  border:none;
  border-radius:10px;
}

button {
  padding:12px;
  width:100%;
  border:none;
  border-radius:10px;
  background:#00c6ff;
  color:#fff;
  margin-top:10px;
}